*.pyc
*.pyo
.ipynb_checkpoints/
*.so
*.lock
__psydac__/
__*pyccel__/
docs/source/modules/STUBDIR/*

build
*build*
*egg*
*dist*
*cache*

*.swp
*.log

# pytest directories
__test__/

# pycharm directory
.idea

# Visual Studio Code
*.code-workspace
**/.vscode/

# Meson lock files
*/.wraplock
