*.pyc
*.pyo
.ipynb_checkpoints/
*.so
*.lock
__psydac__/
__*pyccel__/
docs/source/modules/STUBDIR/*

build
*build*
*egg*
*dist*
usr
*cache*

*.swp
*.log

doc/_static
doc/_build
doc/api-python

psydac/core/bsp-f2py*
psydac/core/bspmodule.c
.env

# pytest directories
__test__/

# pycharm directory
.idea

# Visual Studio Code workspace files
*.code-workspace

# Meson lock files
*/.wraplock
