*.pyc
*.pyo
.ipynb_checkpoints/
*.so
*.lock
__psydac__/
__*pyccel__*/
docs/source/modules/STUBDIR/*

build
*build*
*egg*
*dist*
*cache*
prof

*.swp
*.log

# pytest directories
__test__/

# pycharm directory
.idea

# Virtual environments
env/
env*/
*env/

# Visual Studio Code
*.code-workspace
**/.vscode/

# Meson lock files
*/.wraplock
