sudo: required
language: python

# which python versions to test
python:
  - "3.5"
  - "3.6"

# Enable 3.7 without globally enabling 'dist: xenial' for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial

# Cache directory $HOME/.cache/pip
cache: pip

# command before installation: install all dependencies and run CMAKE config
before_install:
  - sudo apt-get install gfortran
  - sudo apt-get install openmpi-bin libopenmpi-dev
  - sudo apt-get install libhdf5-openmpi-dev
  - ompi_info
  - h5pcc -showconfig -echo || true
  - export CC="mpicc" HDF5_MPI="ON" HDF5_DIR=/usr/lib/x86_64-linux-gnu/hdf5/openmpi
  - python -m pip install --upgrade pip
  - python -m pip install -r requirements.txt
  - python -m pip uninstall -y spl
  - python -m pip uninstall -y sympde
  - python -m pip uninstall -y pyccel
  - wget https://raw.githubusercontent.com/pyccel/pyccel/master/requirements.txt -O requirements_pyccel.txt
  - python -m pip install -r requirements_pyccel.txt
  - python -m pip install git+https://github.com/pyccel/pyccel@master
  - wget https://raw.githubusercontent.com/pyccel/sympde/master/requirements.txt -O requirements_sympde.txt
  - python -m pip install -r requirements_sympde.txt
  - python -m pip install git+https://github.com/pyccel/sympde@master

# command to install project
install:
  - python -m pip install .

before_script:
  - mkdir pytest
  - cp mpi_tester.py pytest
  - export SPL_MESH_DIR=$TRAVIS_BUILD_DIR/mesh

# command to run tests
script:
  - cd pytest
  - python -m pytest --pyargs spl -m "not parallel"
  - python mpi_tester.py --pyargs spl -m "parallel"
  - cd -

after_script:
  - rm -rf pytest
