os: linux
dist: xenial
language: python

# which python versions to test
python:
  - 3.6
  - 3.7
  - 3.8

# Cache directory $HOME/.cache/pip
cache: pip

# command before installation: install all dependencies and run CMAKE config
before_install:
  - sudo apt-get install gfortran
  - sudo apt-get install openmpi-bin libopenmpi-dev
  - sudo apt-get install libhdf5-openmpi-dev
  - ompi_info
  - h5pcc -showconfig -echo || true
  - export CC="mpicc" HDF5_MPI="ON" HDF5_DIR=/usr/lib/x86_64-linux-gnu/hdf5/openmpi
  - python -m pip install --upgrade pip
  - python -m pip uninstall -y psydac
  - python -m pip uninstall -y sympde
  - python -m pip uninstall -y pyccel
  - python -m pip uninstall -y gelato

# command to install project
install:
  - python -m pip install .
  - python -m pip install numba
  - python -m pip freeze

before_script:
  - mkdir pytest
  - cp mpi_tester.py pytest
  - export PSYDAC_MESH_DIR=$TRAVIS_BUILD_DIR/mesh

# command to run tests
script:
  - cd pytest
  - python -m pytest --pyargs psydac -m "not parallel"
  - python mpi_tester.py --pyargs psydac -m "parallel"
  - cd -

after_script:
  - rm -rf pytest
