# h5py must be built from source using the MPI compiler
# and linked to the parallel HDF5 library. To do so set
#
# CC="mpicc"
# HDF5_MPI="ON"
# HDF5_DIR=/usr/lib/x86_64-linux-gnu/hdf5/openmpi
#
h5py
--no-binary h5py
